<!--
  This template loads for the 'about' state (app.js)
  It simply shows all the information about the app and the client
-->
<ion-view title="About the App">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-search-strong"  style="color: rgba(212,237,204,0.6)" ng-click="goToSearch()"></a>
  </ion-nav-buttons>
  <ion-content class ="aboutPage" style="background-image: url('img/backgroundMaxTransparent.jpg');
     color: #041801;
     background-size: cover;
		 background-repeat: repeat-y">

    <img src="img/narmboolApp.png" width=100%;>

    <!--Information about Narmbool-->
    <div class="list card" style="background-color: transparent">
      <div class="item item-thumbnail-left" style="background-color: rgba(212,237,204,0.6)">
        <img src="img/narmboolLogo.jpg">
        <br><br>
        <b style="font-size: 20px"> &nbsp;&nbsp;About Us</b>
      </div>

      <div class="item item-body" style="background-color:  rgba(212,237,204,0.6)">
        <img class="full-image" src="img/narmboolAboutUs.jpg">
        <p>
          Narmbool is a 2,000 hectare property owned
          and operated by Sovereign Hill. It is an example of sustainable farming in a diverse and
          fragile ecosystem and is offered to schools as a camp venue. Narmbool was donated to
          Sovereign Hill in 2000 for the express purpose of developing the property as an educational resource.
        </p>
      </div>
    </div>
    <br><br>

    <!--Contact details-->
    <div class="list card" style="background-color: transparent">
      <div class="item item-thumbnail-left" style="background-color: rgba(212,237,204,0.6)">
        <img src="img/narmboolLogo.jpg">
        <br><br>
        <b style="font-size: 20px"> &nbsp;&nbsp;Contact Us</b>
      </div>
      <div class="item item-body" style="background-color: rgba(212,237,204,0.6)">
        <p>
          For administrative enquiries, telephone: 03 5337 1100.<br>
          Email:  enquiries@sovereignhill.com.au<br>
          ABN 87 565 053 651
        </p>
      </div>
    </div>
    <br><br>

    <!--Credits and links-->
    <div class="list card" style="background-color: transparent">
      <div class="item item-thumbnail-left" style="background-color: rgba(212,237,204,0.6)">
        <img src="img/narmboolLogo.jpg">
        <br><br>
        <b style="font-size: 20px"> &nbsp;&nbsp;Credits</b>
      </div>
      <div class="item item-body" style="background-color: rgba(212,237,204,0.6)">
        <h3>Image credits: </h3>
        <p>
          Museum Victoria <br/> <a href="http://museumvictoria.com.au/" onClick="javascript:return openExternal(this)">http://museumvictoria.com.au/</a>  <br><br>
          Steven Kuiter <br/> <a href="http://wildlifephotographics.com.au/about/" onClick="javascript:return openExternal(this)"> http://wildlifephotographics.com.au/about/</a> <br><br>
          John Tann <br/> <a href="https://www.flickr.com/photos/31031835@N08/" onClick="javascript:return openExternal(this)">https://www.flickr.com/photos/31031835@N08/ </a> <br><br>
        </p>
      </div>
      <div class="item item-body" style="background-color: rgba(212,237,204,0.6)">
        <h3> Information credits: </h3>
        <p>
          Museum Victoria <br/> <a href="http://museumvictoria.com.au/" onClick="javascript:return openExternal(this)">http://museumvictoria.com.au/</a> <br><br>
          Austrlian National Botanical Gardens <br>
          <a href="https://www.anbg.gov.au/apu/plants/pterescu.html" onClick="javascript:return openExternal(this)">https://www.anbg.gov.au/apu/plants/pterescu.html </a> <br><br>
          <a href="http://www.dpi.nsw.gov.au/agriculture/resources/private-forestry/paddock-plants/Exocarpos-cupressiformis-Cherry-Ballart.pdf" onClick="javascript:return openExternal(this)">http://www.dpi.nsw.gov.au/agriculture/resources/private-forestry/paddock-plants/Exocarpos-cupressiformis-Cherry-Ballart.pdf </a> <br><br>
          Costermans, L. (1994) Trees of Victoria and Adjoining Areas, Costermans Publishing, Victoria <br><br>
          <a href="http://www.otwaygreening.com.au/dr_tree_yarragum.html" onClick="javascript:return openExternal(this)"> http://www.otwaygreening.com.au/dr_tree_yarragum.html </a>  <br><br>
          <a href="http://www.otwaygreening.com.au/fs_banksia_marginata.html" onClick="javascript:return openExternal(this)">  http://www.otwaygreening.com.au/fs_banksia_marginata.html </a> <br><br>
          App – Ecolinc Science and Technology Innovations Centre Bacchus Marsh Biodiversity of the Western Volcanic Plains Flora and Fauna Field Guide <br><br>
          Finch, R., Hanks, M. et.al, The Australian Gardening Encyclopedia (2004) Lifetime Distributors, New South Wales
        </p>
      </div>
    </div>

  </ion-content>

